<h2>Studenti Promovati</h2>
<ul>
        <p *ngFor='let student of StudentDB.studenti;'><li *ngIf="student.grade>=5">{{student.firstName}}    {{student.lastName}}     Nota:{{student.grade}}</li></p>
</ul>
<h2>Studenti Restanti</h2>
<ul>
        <p *ngFor='let student of StudentDB.studenti;'><li *ngIf="student.grade<5">{{student.firstName}}    {{student.lastName}}     Nota:{{student.grade}}</li></p>
</ul>
<button>New Student</button>